@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gabarito Variable", system-ui;
  background-color: hsl(13, 13%, 91%);
  color: hsl(20, 13%, 19%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.breakfast-source-editor input,
.breakfast-source-editor textarea,
.breakfast-source-editor span[role="textbox"] {
  @apply w-full rounded border border-zinc-500 px-1;
}
